{% include 'include/header.html' %}
{% load static %}
<!-- about -->
    <div class="agileits-wthree-about py-lg-5">
			<div class="container py-4">
            <div class="text-center wthree-title pb-sm-5 pb-3">
               <h3 class="w3l-sub">About Us</h3>
				<h4 class="sub-title py-3">Donec consequat sapien ut leo cursus rhoncus.</h4>
			</div>
            <div class="agileits-wthree-about-row row py-lg-5  no-gutters">
                <div class="col-lg-4">
                    <div class="agileits-wthree-about-grids">
                        <span class="fas fa-sitemap"></span>
                        <h4 class="my-2">heading 1
                        </h4>
                        <p>Itaque earum rerum hic tenetur asap iente delectus rulla accumsan ac elit in coeiciendis maiores
                            alias consequatur auectus rullat.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="agileits-wthree-about-grids mt-lg-0 my-5 px-lg-5">
                        <span class="fas fa-chart-area"></span>
                        <h4 class="my-2">heading 2
                        </h4>
                        <p>Itaque earum rerum hic tenetur asap iente delectus rulla accumsan ac elit in coeiciendis maiores
                            alias consequatur auectus rullat.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="agileits-wthree-about-grids  pl-lg-5">
                        <span class="fas fa-globe"></span>
                        <h4 class="my-2">heading 3
                        </h4>
                        <p>Itaque earum rerum hic tenetur asap iente delectus rulla accumsan ac elit in coeiciendis maiores
                            alias consequatur auectus rullat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //about -->
	<section class="departments">
		<div class="departments-1 py-lg-5">
			<div class="container py-5">
				<div class="text-center wthree-title pb-sm-5 pb-3">
					<h3 class="w3l-sub text-white">Departments</h4>
					<h4 class="sub-title py-3 text-white">Donec consequat sapien ut leo cursus rhoncus.</h5>
				</div>
					<div class="row py-lg-5">
								<div class="col-sm-4 w3-ab">
									<div class="w3-ab-grid text-center">
										<div class="w3-aicon p-4">
											<i class="fa fa-stethoscope" aria-hidden="true"></i>
											<h4 class="my-3 text-capitalize text-white">Neurology</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-4 w3-ab">
									<div class="w3-ab-grid text-center">
										<div class="w3-aicon p-4">
											<i class="fa fa-wheelchair" aria-hidden="true"></i>
											<h4 class="my-3 text-capitalize text-white">Traumatology</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-4 w3-ab">
									<div class="w3-ab-grid text-center">
										<div class="w3-aicon p-4">
											<i class="fa fa-plus-square" aria-hidden="true"></i>
											<h4 class="my-3 text-capitalize text-white">dentistry</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-4 mt-4 w3-ab">
									<div class="w3-ab-grid text-center">
										<div class="w3-aicon  p-4">
											<i class="fa fa-heartbeat" aria-hidden="true"></i>
											<h4 class="my-3 text-capitalize text-white">Cardiology</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-4 mt-4 w3-ab">
									<div class="w3-ab-grid text-center">
										<div class="w3-aicon p-4">
											<i class="fa fa-medkit" aria-hidden="true"></i>
											<h4 class="my-3 text-capitalize text-white">pulmonary</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-4 mt-4 w3-ab">
									<div class="w3-ab-grid text-center">
										<div class="w3-aicon p-4">
											<i class="fa fa-ambulance" aria-hidden="true"></i>
											<h4 class="my-3 text-capitalize text-white">pediatrics</h4>
										</div>
									</div>
								</div>
					</div>
			</div>
		</div>
	</section>


    <!-- team -->
    <section class="team py-lg-5">
			<div class="container py-4">
            <div class="text-center wthree-title pb-sm-5 pb-3">
               <h3 class="w3l-sub">Our Staff</h3>
				<h4 class="sub-title py-3">Donec consequat sapien ut leo cursus rhoncus.</h4>
			</div>
            <div class="row my-sm-5">
                <div class="col-lg-4 col-sm-6">
                    <div class="box16">
                        <img src="{% static 'frontend/images/t3.jpg' %}" alt="" class="img-fluid" />
                        <div class="box-content">
                            <h3 class="title">Williamson</h3>
                            <span class="post">consequat</span>
                            <ul class="social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="box16">
                        <img src="{% static 'frontend/images/t1.jpg' %}" alt="" class="img-fluid" />
                        <div class="box-content">
                            <h3 class="title">Kristiana</h3>
                            <span class="post">consectetur</span>
                            <ul class="social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mx-auto mt-lg-0 mt-sm-5">
                    <div class="box16">
                        <img src="{% static 'frontend/images/t2.jpg' %}" alt="" class="img-fluid" />
                        <div class="box-content">
                            <h3 class="title">stianry jack</h3>
                            <span class="post">consectetur</span>
                            <ul class="social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //team -->
{% include 'registration/login.html' %}
{% include 'registration/register.html' %}
{% include 'include/footer.html' %}