{% load static %}
{% include 'include/header.html' %}
<!--Gallery-->
	<section class="gallery  py-lg-5">
			<div class="container py-4">
			 <div class="text-center wthree-title pb-sm-5 pb-3">
				<h3 class="w3l-sub">Gallery</h3>
				<h4 class="sub-title py-3">Donec consequat sapien ut leo cursus rhoncus.</h4>
			</div>
			<div class="row agile_gallery_grids w3-agile demo py-lg-3">
				<div class="col-md-4 gal-sec">
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="images/g1.jpg">
						<img src="{% static 'frontend/images/g1.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="images/g2.jpg">
						<img src="{% static 'frontend/images/g2.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="images/g3.jpg">
						<img src="{% static 'frontend/images/g3.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 gal-sec">
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="images/g4.jpg">
						<img src="{% static 'frontend/images/g4.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana" href="images/g5.jpg">
						<img src="{% static 'frontend/images/g5.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="images/g6.jpg">
						<img src="{% static 'frontend/images/g6.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 gal-sec">
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="images/g7.jpg">
						<img src="{% static 'frontend/images/g7.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="images/g8.jpg">
						<img src="{% static 'frontend/images/g8.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="Nulla porttitor accumsana." href="images/g9.jpg">
						<img src="{% static 'frontend/images/g9.jpg' %}" alt=" " class="img-fluid" />
						<div class="p-mask">
							<h4>Medical</h4>
							<p>Gallery</p>
						</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//Gallery-->
{% include 'registration/login.html' %}
{% include 'registration/register.html' %}
{% include 'include/footer.html' %}